.section-bout.part
  background-color:  $repair-blue
  padding: 29px 0px
.section-bout.part p,.section-bout.part h2
  color: #fff

.section-about__title

.section-title

.about__face
  width: 100%

.about__certificate
  width: 100%

.about_biography-inner
  margin: 20px 0px

.about_biography-inner__bio

@media (max-width: 767.98px)
  .about_biography-inner__bio
    margin-top: 20px



