.section-contact{
    margin: auto;
}
.section-contact__title{
}
.contact-form__button{
    margin: 30px auto auto;
    display: block;
    background-color: #2dad67;
    border-color: #2dad67;
}
.contact-form__button:hover{
    background-color: #82b440;
    border-color: #82b440;
}
.contact-form{
    margin: 40px auto;
}

.contact-left__img{
    width: 100%;
    height: auto;
}
