.section-contact{
    margin: 20px auto;
}
.section-contact__title{
    text-align: center;
    margin-bottom: 40px;
}
.contact-form__button{
    margin: auto;
    display: block;
}

.contact-form{
    margin: 40px auto;
}

.contact-left__img{
    width: 100%;
    height: auto;
}
