

.active.nav-link{
    border-bottom: 2px solid #333;
}
.nav-link{
    font-weight: 700;
    font-size: 14px;
    color: #333 !important;

}
.logo{
    width: 150px;
    height: auto;
}
.navbar{
    padding-bottom: 0px;
    width: 100%;
}
.navbar-light .navbar-toggler{
    border: 0;
    outline: none;
}
.navbar-toggler-icon{
    width: 2em!important;
    height: 2em!important;
}
