
.header{
    background-color: #32936f;
    border-bottom: 1px solid #3f3f3f3f;
}

.navbar{
    padding-bottom: 0px;
    width: 100%;
}

.active.nav-link{
    border-bottom: 2px solid #333;
}
.nav-link{
    font-weight: 700;
    font-size: 14px;
    color: #dedddd !important;

}
.logo{
    width: 150px;
    height: auto;
}
.navbar-light .navbar-toggler{
    border: 0;
    outline: none;
}
.navbar-toggler-icon{
    width: 2em!important;
    height: 2em!important;
}
.switch-language{
    margin-left: 10px;
}
.switch-language button{
    margin: 0px 5px;
}
button.active{
    background-color: #b6c5d2;;
    border-color: #d3d9df;
}

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
    .switch-language {
        margin: 15px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .switch-language button{
        max-width: 45px;
        margin: 0px 10px;
    }
}

@media (max-width: 1199.98px) {

}
